<!DOCTYPE html>

<html lang="ru">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
</head>
<body>

    <div>
        <a asp-controller="Home" asp-action="Index1">Index1</a>
        <a asp-controller="Home" asp-action="Index2">Index2</a>
    </div>
    <div>
        @RenderBody()
    </div>
</body>
</html>
